@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

/* Override the selected date color */
.react-datepicker__day--selected {
  background-color: #000000 !important; /* Replace with your desired color */
  color: white; /* Optional: Change the text color */
}
.react-datepicker__day--selected:hover {
  background-color: #000000 !important; /* Optional: Hover effect */
}
